$primary   : #4BB543;
//$secondary : #2E2E2E;
//$accent    : #A1A1A1;
$dark      : #1F1F1F;
$dark-page : #121212;

$positive  : $primary;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$font-color-gray: #BCBCBC;